/**
 * Copyright 2011-2013 eBusiness Information, Groupe Excilys (www.ebusinessinformation.fr)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * 		http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body {
	font-family: arial;
	margin: 0;
	padding: 0;
	background: #DCDBD4;
	color: #000;
	font-size: 12px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	overflow: visible;
}

.frise {
	background: url('fond-degrade.gif') repeat-x;
	height: 530px;
	width: 100%;
	position: absolute;
	top: 60px;
	z-index: -1;
}

.global {
	height: 650px
}

a {
	text-decoration: none;
	color: #E37400;
}

a:hover {
	color: #D1D1CE;
}

p {
	margin: 10px 0;
	padding: 0;
}

img {
	border: 0;
}

h1 {
	font-size: 18px;
	color: #E37400;
	margin: 10px 0;
}

h1 span {
	color: #D1D1CE;
}

.main {
	width: 100%
}

.head {
	height: 100px;
	width: 600px;
	padding: 10px 0 0 160px;
	background: url('fond-lueur.gif') no-repeat;
	background-position: 70px 0;
	position: absolute;
	top: 0;
	left: 0;
}

.sim_desc {
	float: right;
	padding: 0;
	margin: 0
}

.foot {
	background: #92918C;
	width: 100%;
	color: #FFF;
	margin-top: 78px;
}

.foot a {
	width: 85px;
	height: 27px;
	margin: 3px auto;
	display: block
}

.cadre {
	width: 1050px;
	padding: 38px 0 0 100px;
	position: relative;
	top: 70px;
}

.onglet {
	background: #FFF;
	padding: 7px 50px;
	margin: 5px 5px 0 5px;
	color: #BCBCB5;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: -9px;
	z-index: 8;
	height: 28px;
	box-shadow: 0 0 0 black, 4px -4px 3px #D1D1CE, -4px -4px 3px #D1D1CE;
	-moz-box-shadow: 0 0 0 black, 4px -4px 3px #D1D1CE, -4px -4px 3px #D1D1CE;
	-webkit-box-shadow: 0 0 0 black, 4px -4px 3px #D1D1CE, -4px -4px 3px #D1D1CE;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	border-color: #D1D1CE
}

.onglet img {
	position: absolute;
	top: 7px;
	left: 7px;
}

.onglet span {
	color: #E37400;
	margin-right: 10px;
}

.onglet p {
	margin: 7px -40px 10px 0;
	font-size: 22px
}

.content {
	margin-right: 5px;
	padding: 0 10px 40px 1px;
	background: #FFF;
	box-shadow: -4px -4px 3px #D1D1CE, 4px 4px 3px #D1D1CE, -4px 4px 3px #D1D1CE, 4px -4px 3px #D1D1CE;
	-moz-box-shadow: -4px -4px 3px #D1D1CE, 4px 4px 3px #D1D1CE, -4px 4px 3px #D1D1CE, 4px -4px 3px #D1D1CE;
	-webkit-box-shadow: -4px -4px 3px #D1D1CE, 4px 4px 3px #D1D1CE, -4px 4px 3px #D1D1CE, 4px -4px 3px #D1D1CE;

	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-top-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;

	border-color: #D1D1CE
}

.content-in {
	margin: 30px 30px 30px 120px;
}

.sous-menu {
	border-bottom: 2px #E37400 solid;
	padding: 10px 0 5px 0;
	margin: 0 5px;
	z-index: -1;
}

.sous-menu a {
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}

.sous-menu .item {
	background: #D1D1CE url('arrow_down.png') 9px 6px no-repeat;
	display: inline;
	margin: 0 10px 0 0;
	padding: 5px 15px 5px 25px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px
}

.sous-menu .ouvert {
	background: #E37400 url('arrow_right.png') 11px 3px no-repeat;
}

.nav {
	top: 180px;
	width: 200px;
	background: #C5C3BC;
	position: absolute;
	z-index: 9;
	border-radius: 8px;
	border: 1px solid #C5C3BC
}

.nav ul {
	padding: 0;
	margin: 3px
}

.nav li {
	margin: 0 auto;
	padding: 3px 0;
	list-style: none;
	width: 190px;
	border-bottom: 1px #acaba6 solid;
	border-top: 1px #d4d2cc solid;
}

.nav li:first-child {
	border-top: none;
}

.nav li:last-child {
	border-bottom: none;
}

.nav .item {
	padding: 5px 0px 5px 0px;
	display: block;
	margin: 0 auto;
	word-wrap: break-word;
}

.nav .item a {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
}

.nav .item:hover {
	background-color: #92918C;
	border-radius: 8px;
}

.nav .on .item {
	border-radius: 8px;
	background-color: #E37400;
}

.nav .on .item a {
	color: #FFF;
}

.article {
	position: relative;
}

.infos {
	position: absolute;
	top: 0;
	right: -63px;
	width: 300px;
	color: #FFF;
}

.infos-in {
	padding: 0 0 25px 0;
	position: relative;
}

.info {
	margin: 0;
	height: 100%;
	background: #CF6900 url('stat-fond.png') repeat-x;
	padding: 15px 0px 15px 0
}

.repli {
	position: absolute;
	bottom: 0;
	right: 0;
	background: url('stat-fleche-bas.png') no-repeat top left;
	height: 25px;
	width: 22px;
}

.infos h2 {
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 3px 0 0 25px;
	color: #FFF;
	height: 19px;
	width: 165px;
	-moz-border-top-right-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-ms-border-top-right-radius: 8px;
	-ms-border-bottom-right-radius: 8px;
	-o-border-top-right-radius: 8px;
	-o-border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.infos .first {
	background: url('stat-l-roue.png') no-repeat 3px 3px #d16b00
}

.infos .second {
	background: url('stat-l-temps.png') no-repeat 3px 3px #d16b00
}

.infos th {
	text-align: center
}

.infos td {
	font-weight: bold;
	width: 50px;
	text-align: right;
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.infos .title {
	width: 95px
}

.infos .ok {
	background-color: rgba(160, 178, 40, 0.5)
}

.infos .total {
	background-color: rgba(120, 120, 120, 0.2)
}

.infos .ko {
	-webkit-border-radius: 4px;
	background-color: rgba(255, 0, 0, 0.5)
}

.schema {
	background: #EAEAEA;
	border-radius: 8px;
	border: 1px solid #EAEAEA;
	margin-bottom: 20px
}

.demi {
	width: 630px;
	height: 330px;
}

.geant {
	width: 900px;
	height: 354px;
}

.extensible-geant {
	width: 900px;
}

.polar {
	width: 250px;
	height: 330px;
	position: absolute;
	top: 0px;
	right: -17px;
}

.chart_title {
	background: #b0b0a8;
	padding: 2px 10px;
	color: #FFF;
	font-weight: bold;
	border-radius: 8px;
}

.statistics {
	margin-bottom: 20px;
	color: white;
	display: block;
}

.statistics .title {
	height: 15px;
	text-align: left;
	font-weight: bold;
	background: #ff9916;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 5px 15px 0px 15px;
	width: 870px;
}

.title_not_collapsed {
	background: #ff9916 url('arrow_down.png') 0px 3px no-repeat;
	cursor: pointer;
	padding-left: 20px;
}

.title_not_collapsed span {
	display: none;
}

.title_collapsed {
	background: #ff9916 url('arrow_right.png') 0px 0px no-repeat;
	cursor: pointer;
	padding-left: 20px;
}

#container_statistics_head {
	background: #FF9916;
	padding: 5px 5px 0px 5px;
}

#container_statistics_body {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background: #CF6900 url('stat-fond.png') repeat-x;
	padding: 0px 5px 5px 5px;
}

#container_errors {
	background: #FF9916;
	padding: 5px 5px 0px 5px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background: #CF6900 url('stat-fond.png') repeat-x;
}

.statistics-in {
	margin: 0;
	border-spacing: 4px;
}

.statistics .scrollable {
	max-height: 785px;
	overflow-y: auto;
	width: 915px;
}

.statistics-in a {
	color: white;
	font-weight: bold;
}

.statistics-in .header {
	font-size: 13px;
	font-weight: bold;
	border-radius: 4px;
	padding: 4px;
	background-color: #d16b00;
}

.sortable {
	cursor: pointer;
}

.sortable span {
	background: url('sortable.png') no-repeat right 3px;
	padding-right: 15px;
}

.sorted-up span {
	background-image: url('sorted-up.png');
}

.sorted-down span {
	background-image: url('sorted-down.png');
}

.executions {
	background: url('stat-l-roue.png') no-repeat 4px 4px #d16b00;
	padding: 4px 4px 4px 25px;
}

.response-time {
	background: url('stat-l-temps.png') no-repeat 4px 4px #d16b00;
	padding: 4px 4px 4px 25px;
}

.statistics-in td {
	padding: 4px;
	border-radius: 4px;
}

.statistics-in .col-1 {
	width: 175px;
}

.statistics-in .value {
	text-align: right;
	width: 50px;
}

.statistics-in .total {
	background-color: rgba(120, 120, 120, 0.2);
}

.statistics-in .ok {
	background-color: rgba(160, 178, 40, 0.5);
}

.statistics-in .ko {
	background-color: rgba(255, 0, 0, 0.5);
}

.statistics-in .expand-button {
	padding-left: 10px;
	cursor: pointer;
}

.expand-button.hidden {
	background: none;
	cursor: default;
}

.statistics .expand-all-button, .statistics .collapse-all-button {
	color: white;
	cursor: pointer;
}

.statistics-in .expand-button.expand {
	background: url('little_arrow_right.png') no-repeat 3px 3px;
}

.statistics-in .expand-button.collapse {
	background: url('sorted-down.png') no-repeat 0px 0px;
}

.nav .expand-button {
	padding: 10px;
}

.nav .expand-button.expand {
	background: url('arrow_right_black.png') no-repeat 5px 10px;
	cursor: pointer;
}

.nav .expand-button.collapse {
	background: url('arrow_down_black.png') no-repeat 3px 12px;
	cursor: pointer;
}

.nav .on .expand-button.expand {
	background-image: url('arrow_right.png');
}

.nav .on .expand-button.collapse {
	background-image: url('arrow_down.png');
}

.right {
	float: right;
}
